/*Reset*/

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
   
}

/* Navbar*/

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.35)
    position: sticky;
    top: 0;

}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;

}

.navbar ul li{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar ul a {
    text-decoration: none;
    color: black;
    padding: 8px 25px;
    transition: all .5s ease;
}

.navbar ul li a:hover{
    color: black;
    text-decoration: underline;
    border-bottom: 2px;
    
    
}




/*Main Section*/
/* Titles*/

.headings{
    display: flex;
    flex-direction: column;
    color: black;
    justify-content: center;
    text-align: center;
    font-size: larger;
    padding: 8px;
}

h1{
    margin-top: 50px;
}




.instruct {
   text-align: center;
   padding: 15;
   font-size: larger;
   
}


#sal::before{
    content: " ";
    position: absolute;
    top: 0%;
    right: 0%;
    background: url('https://github.com/bmor2552/odin-recipes/blob/main/images/salad-2204502_1920.jpg?raw=true') no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .64;
}

