/*Reset*/

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
   
}

/* Navbar*/

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.35)
    position: sticky;
    top: 0;

}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;

}

.navbar ul li{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar ul a {
    text-decoration: none;
    color: black;
    padding: 8px 25px;
    transition: all .5s ease;
}

.navbar ul li a:hover{
    color: black;
    text-decoration: underline;
    border-bottom: 2px;
    
    
}

/*Main Section*/

#home{
 display: flex;
 flex-direction: column;
}

#home::before{
    content: " ";
    position: absolute;
    top: 0%;
    right: 0%;
    background: url('../mainpageimage.jpeg') no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}

.headings{
    display: flex;
    flex-direction: column;
    color: black;
    justify-content: center;
    margin-left: 50%;
    margin-top: 200px;
}

h1{
    text-align: center;
    padding: 8px;
}



/*Description Section*/

.about-paras {
    display: flex;
    flex-direction: column;
    justify-content: center;
   /* background-color: white;*/
   margin-left: 50%;
    padding: 35px;
    font-size: large;
    font-weight: bolder;
    border: 5px;
}

/* The images would not load when I created the webpage on github pages
I needed to make edits in order for me to push the name change*/