*{
    background-color: rgb(207, 191, 48);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    border-radius: 30px;
}


h1{
    background-color: black;
    border: black;
    text-align: center;
    padding: 10px;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
}

.lastp{
    margin-bottom: 100px;
}
p{
    background-color: black;
    color: whitesmoke;
    text-align: center;
    font-size: 20px;
}

a {
    font-weight: bolder;
    color: black;
}

a:hover{
    color: rgb(90, 18, 18);
}

div{
    text-align: center;
}

footer{
    background-color: black;
    color: whitesmoke;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 250px;

}
